#menuLeft{
	display:				inline;
}
#menuLeft ul.CMS_lvl2{
	height:					305px;
}
#content{
	height:					305px;
}
#content em {
	font-style:				normal;
}
#title h1{
	background-image:		none;
}
h2{
	width:					508px;
}
#newssearch, #mediasearch{
	margin-top:				32px;
	position:				relative;
}
#newssearch form, #mediasearch form{
	margin:					0px;
}
#newssearch h2, #mediasearch h2{
	position:				absolute;
	top:					-23px;
	width:					528px;
}
#firstCol h2{
	background-image:		none;
	width:					210px;
}