# Automne general .htaccess file. 
# Author Sébastien Pauchet <sebastien.pauchet@ws-interactive.fr>
# $Id: .htaccess,v 1.13 2010/01/13 09:32:41 sebastien Exp $

# Declare errors documents. 
# The 404.php must be the 404 error document, but you can create a specific design with a file 404.html which will be displayed by the 404.php file
ErrorDocument 404 /404.php
# The 403.php must be the 403 error document, but you can create a specific design with a file 403.html which will be displayed by the 403.php file
ErrorDocument 403 /403.php

# Remove files listing
Options -indexes

# Directory Index
DirectoryIndex index.php

# Files access
Allow from all

# Add PHP5 CGI Handler if needed
#AddHandler php5-cgi .php

# Some PHP configurations
<IfModule mod_mime.c>
	<IfModule mod_php5.c>
		php_flag magic_quotes_gpc		Off
		php_flag magic_quotes_runtime		Off
		php_flag magic_quotes_sybase		Off
		php_flag allow_call_time_pass_reference Off
		php_flag register_globals 		Off
		php_flag allow_url_include		Off
	</IfModule>
</IfModule>