.atm-row,
.atm-cs {
	display:			none;
	position:			absolute;
	top:				0;
	left:				0;
	width:				0;
	height:				0;
	zoom:				1;
}
.atm-empty-cs {
	height:				20px;
	margin:				10px 0 10px 0;
	clear:				both;
}
.atm-row {
	z-index:			9000;
	background-color:	#c6e790; /*#ffe345;*/
	border-top:			1px solid #868686;
	border-left:		1px solid #868686;
	border-right:		1px solid #868686;
	border-bottom:		1px solid #868686;
}
.atm-row-left{
	border-right:		0px;
}
.atm-row-right{
	border-left:		0px;
}
.atm-row-top{
	background:			url(/automne/admin/img/atm-row/atm-row-top.gif) repeat-x top left;
	border-bottom:		0px;
}
.atm-row-bottom{
	border-top:			0px;
}
.atm-cs {
	z-index:			8900;
}
.atm-cs-left{
	border-left:		2px dotted green;
}
.atm-cs-right{
	border-right:		2px dotted green;
}
.atm-cs-top{
	border-top:			2px dotted green;
}
.atm-cs-bottom{
	border-bottom:		2px dotted green;
}
.atm-row-control, .atm-row-drag, .atm-block-control {
	position:			absolute;
	cursor:				pointer;
	background-image:	url(/automne/admin/img/row-control.png);
	background-repeat:	no-repeat;
	width:				16px;
	height:				16px;
	margin:				2px;
}
.atm-row-control-del{
	background-position: 0px 0px;
}
.atm-row-control-top{
	background-position: 0px -16px;
}
.atm-row-control-bottom{
	background-position: 0px -32px;
}
.atm-row-control-left{
	background-position: 0px -48px;
}
.atm-row-control-right{
	background-position: 0px -64px;
}
.atm-row-control-up{
	background-position: 0px -80px;
}
.atm-row-control-down{
	background-position: 0px -96px;
}
.atm-row-drag {
	cursor:				move;
	background-position: 0px -112px;
	z-index:			10000;
}
.atm-row-control-del-on{
	background-position: -16px 0px;
}
.atm-row-control-top-on{
	background-position: -16px -16px;
}
.atm-row-control-bottom-on{
	background-position: -16px -32px;
}
.atm-row-control-left-on{
	background-position: -16px -48px;
}
.atm-row-control-right-on{
	background-position: -16px -64px;
}
.atm-row-control-up-on{
	background-position: -16px -80px;
}
.atm-row-control-down-on{
	background-position: -16px -96px;
}
.atm-row-drag-on {
	cursor:				move;
	background-position: -16px -112px;
	left:				112px;
}
.atm-row-drag-proxy {
	overflow:			hidden;
}
.atm-drop-zone {
	z-index:			11000;
	background:			red url(/automne/admin/img/pictos/add.gif) repeat-x;
	opacity:			0.5;
	filter:				alpha(opacity=50);
	
}
.atm-drop-zone-hover {
	background:			green url(/automne/admin/img/pictos/ok.gif) repeat-x;
}
.atm-block-mask {
	z-index:			9200;
}
.atm-block-control-admin {
	background-position: 0px -128px;
}
.atm-block-control-del {
	background-position: 0px -144px;
}
.atm-block-control-modify {
	background-position: 0px -160px;
}
.atm-block-control-admin-on {
	background-position: -16px -128px;
}
.atm-block-control-del-on {
	background-position: -16px -144px;
}
.atm-block-control-modify-on {
	background-position: -16px -160px;
}
.atm-block-control-validate {
	background-position: 0px -176px;
}
.atm-block-control-cancel {
	background-position: 0px -192px;
}
.atm-block-control-validate-on {
	background-position: -16px -176px;
}
.atm-block-control-cancel-on {
	background-position: -16px -192px;
}
.atm-block-on,
.atm-block-on * {
	background-color:	#FEC865 !important;
}
.atm-block-on img,
img.atm-block-on {
	opacity:			0.4;
	filter:				alpha(opacity=40);
}
.atm-edit-content {
	z-index:			9300;
}
.atm-edit-text-content {
	background-color:	white;
	border-top:			1px solid #696969;
	border-left:		1px solid #696969;
	padding:			0 4px 4px 0;
}
/*DD Styles*/
.x-dd-drag-proxy{
	position:			absolute;
	left:				0;
	top:				0;
	visibility:			hidden;
	z-index:			15000;
}
.x-dd-drag-ghost{
	opacity:			.85;
	filter: 			alpha(opacity=85);
	border-top:			1px solid #dddddd;
	border-left:		1px solid #dddddd;
	border-right:		1px solid #bbbbbb;
	border-bottom:		1px solid #bbbbbb;
	padding:			3px;
	padding-left:		20px;
	background-color:	white;
}
.x-dd-drag-repair .x-dd-drag-ghost{
	opacity:			.4;
	filter: 			alpha(opacity=40);
	border:				0 none;
	padding:			0;
	background-color:	transparent;
}
.x-dd-drag-repair .x-dd-drop-icon{
	visibility:			hidden;
}
.x-dd-drop-icon{
	position:			absolute;
	top:				3px;
	left:				3px;
	display:			block;
	width:				16px;
	height:				16px;
	background-color:	transparent;
	background-position:center;
	background-repeat:	no-repeat;
	z-index:			1;
}
.x-dd-drop-nodrop .x-dd-drop-icon{
	background-image:	url(/automne/ext/resources/images/default/dd/drop-no.gif);
}
.x-dd-drop-ok .x-dd-drop-icon{
	background-image:	url(/automne/ext/resources/images/default/dd/drop-yes.gif);
}
.x-dd-drop-ok-add .x-dd-drop-icon{
	background-image:	url(/automne/ext/resources/images/default/dd/drop-add.gif);
}
.x-form-grow-sizer{
	font:				normal 12px tahoma,arial,helvetica,sans-serif;
	left:				-10000px;
	padding:			8px 3px;
	position:			absolute;
	visibility:			hidden;
	top:				-10000px;
	white-space:		pre-wrap;
	white-space:		-moz-pre-wrap;
	white-space:		-pre-wrap;
	white-space:		-o-pre-wrap;
	word-wrap:			break-word;
	zoom:				1;
}
.x-form-grow-sizer p{
	margin:				0!important;
	border:				0 none!important;
	padding:			0!important;
}
/*Resizable styles*/
.x-resizable-handle {
	position:			absolute;
	z-index:			100;
	/* ie needs these */
	font-size:			1px;
	line-height:		6px;
	overflow:			hidden;
	 background:		white;
	 filter:			alpha(opacity=0);
	 opacity:			0;
	 zoom:				1;
}
.x-resizable-handle-east{
	width:				6px;
	cursor:				e-resize;
	right:				0;
	top:				0;
	height:				100%;
}
.ext-ie .x-resizable-handle-east {
	margin-right:		-1px; /*IE rounding error*/
}
.x-resizable-handle-south{
	width:				100%;
	cursor:				s-resize;
	left:				0;
	bottom:				0;
	height:				6px;
}
.ext-ie .x-resizable-handle-south {
	margin-bottom:		-1px; /*IE rounding error*/
}
.x-resizable-handle-southeast{
	width:				6px;
	cursor:				se-resize;
	right:				0;
	bottom:				0;
	height:				6px;
	z-index:			101;
}
.x-resizable-over .x-resizable-handle, .x-resizable-pinned .x-resizable-handle{
	filter:				alpha(opacity=100);
	opacity:			1;
}
.x-resizable-over .x-resizable-handle-southeast, .x-resizable-pinned .x-resizable-handle-southeast{
	background-image:	url(/automne/admin/img/sizer/se-handle.gif);
	background-position:top left;
}
.x-resizable-over .x-resizable-handle-east, .x-resizable-pinned .x-resizable-handle-east{
	background-image:	url(/automne/admin/img/sizer/e-handle.gif);
	background-position:left;
}
.x-resizable-over .x-resizable-handle-south, .x-resizable-pinned .x-resizable-handle-south{
	background-image:	url(/automne/admin/img/sizer/s-handle.gif);
	background-position:top;
}
.x-resizable-proxy{
	border:				1px dashed #3b5a82;
	position:			absolute;
	overflow:			hidden;
	display:			none;
	left:				0;
	top:				0;
	z-index:			20000;
}
.x-resizable-overlay{
	width:				100%;
	height:				100%;
	display:			none;
	position:			absolute;
	left:				0;
	top:				0;
	background:			white;
	z-index:			21000;
	-moz-opacity:		0;
	opacity:			0;
	filter:				alpha(opacity=0);
}
.x-unselectable,
.x-unselectable *{
	-moz-user-select:	none;
	-khtml-user-select:	none;
}
#fcktoolbar {
	position:			fixed;
	left:				0;
	top:				0;
	width:				100%;
	z-index:			15000;
}