/* ie6 */
/*
.right-none{
	background:						url(/automne/admin/img/right-pictos.png) no-repeat 0 0;
}
.right-view{
	background:						url(/automne/admin/img/right-pictos.png) no-repeat 0 -20px;
}
.right-edit{
	background:						url(/automne/admin/img/right-pictos.png) no-repeat 0 -40px;
}
.right-manage{
	background:						url(/automne/admin/img/right-pictos.png) no-repeat 0 -60px;
}
.x-slider-horz .x-slider-thumb {
    background-image:				url(/automne/admin/img/slider/slider-thumb.png);
}
.x-slider-vert .x-slider-thumb {
    background-image:				url(/automne/admin/img/slider/slider-v-thumb.png);
}
.atm-pic-copy{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -112px;
}
.atm-pic-unlock{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -240px;
}
.atm-pic-undelete{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -176px;
}
.atm-pic-unarchive{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -144px;
}
.atm-pic-move{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -96px;
}
.atm-pic-archiving{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -128px;
}
.atm-pic-deletion{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -160px;
}
.atm-pic-editions-cancelling{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -192px;
}
.atm-pic-draft-deletion{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -448px;
}
.atm-pic-draft-validation{
	background-image:				url(/automne/admin/img/pictos/pictos.png);
	background-position:			0px -208px;
}
*/