/* $Id: cms_forms.css,v 1.4 2009/11/02 09:49:34 sebastien Exp $ */

/*Forms error messages*/
.cms_forms_error_msg{
	border:				1px solid #FF0000;
	padding:			10px;
}
/*Forms replacement messages*/
.cms_forms_msg {
	border:				1px solid #6FAE03;
	padding:			10px;
}
.cms_forms td {
	border:				0;
}
.cms_forms textarea {
	width:				250px;
}
.cms_forms label{
	color:				#473933;
	font-size:			12px;
	font-weight:		bold;
}
.cms_forms input, .cms_forms textarea, .cms_forms select{
	color:				#393939;
	background:			#FFFFFF;
	border:				1px solid #A59893;
	padding:			1px;
}
.cms_forms input.button{
	background:			#78B704;
	border:				0px;
	color:				#FFFFFF;
	cursor:				pointer;
	line-height:		18px;
	width:				60px;
}