#loadingSearch {
	display:			none;
	float:				right;
	margin:				0 5px 0 5px;
}
.page6 #title{
	background-image:		url(../img/demo/interieur/h1Media.gif);
}
.page6 h1{
	color:					#6fae03;
}
#mediasearch{
	margin:					0 0 20px 0;
}
#mediasearch h2{
	background:				url(../img/demo/interieur/h2Media.gif) no-repeat left top;
	left:					-17px;
	margin-bottom:			0px;
	color:					#FFFFFF;
	font-size:				93%;
	font-weight:			bold;
	line-height:			23px;
	padding-left:			23px;
	padding-right:			5px;
	position:				relative;
	width:					539px;
}
.mediaForm{
	background-color:		#edeae9;
	border-left:			1px solid #847773;
	border-right:			1px solid #847773;
	border-bottom:			1px solid #847773;
	padding:				5px 0 11px 0;
	width:					537px;
}
.formKeywords, .formCat{
	float:					left;
}
.formKeywords{
	padding:				0 8px 0 12px;
}
.formCat{
	background:				url(../img/demo/interieur/formCat.gif) no-repeat left 4px;
	padding:				0 8px 0 10px;
}
.formType{
	background:				url(../img/demo/interieur/formCat.gif) no-repeat left 4px;
	padding:				0 7px 0 10px;
}
#keyword{
	height:					18px;
	width:					200px;
	background-color:		#FFFFFF;
}
#cat{
	height:					20px;
	width:					200px;
}
#mediasearch #submitSearch{
	background:				url(../img/demo/interieur/submitSearchMedia.gif) no-repeat left top;
	border:					0px;
	color:					#FFFFFF;
	cursor:					pointer;
	height:					18px;
	margin:					14px 0 0 0px;
	padding:				0px;
	width:					21px;
}
#searchresult #maxResults{
	background-color:		#EDEAE9;
	border-top:				1px solid #60524b;
	border-bottom:			1px solid #60524b;
	padding:				5px;
	margin-bottom:			25px;
}
#searchresult{
	height:					1%;
}
.mediaTop{
	background:				#e8e1e0 url(../img/demo/interieur/mediaTop.gif) repeat-x left top;
	height:					1%;
	margin:					0 0 20px 0;
}
.mediaBottom{
	background:				url(../img/demo/interieur/mediaBottom.gif) repeat-x left bottom;
	height:					1%;
	padding-bottom:			1px;
}
.mediaTop h2{
	background:				url(../img/demo/interieur/h2MediaPuce.gif) no-repeat 15px 7px;
	color:					#60524b;
	font-size:				12px;
	font-weight:			bold;
	float:					left;
	left:					0px;
	line-height:			auto;
	margin:					0px;
	padding:				0px 0 0 24px;
	position:				static;
	width:					465px;
	cursor:					pointer;
}
#content .mediaTop h2 a{
	color:					#60524b;
	font-size:				12px;
	font-weight:			bold;
}
#content .mediaTop h2 a:hover{
	color:					#7f746f;
}
.mediaTop span.date{
	color:					#578a02;
	font-size:				11px;
	font-weight:			normal;
	line-height:			23px;
}
.mediaTop span.picto{
	border-left:			1px dotted #e92394;
	color:					#e92394;
	font-size:				11px;
	float:					right;
	line-height:			23px;
	margin:					3px 0 0 0;
	padding:				0 20px 0 5px;
}
.mediaContent{
	height:					auto;
	margin:					0 0 20px 0;
	padding:				5px 17px 0 22px;
}
.mediafile {
	float:					left;
	width:					300px;
}
.mediafile .imgLeft {
	margin-top:				5px;
}
.mediadesc {
	padding-left:			5px;
	float:					right;
	width:					150px;
	text-align:				left;
}
#pages{
	text-align:				center;
}
#content #pages a{
	color:					#a89b96;
}
#pages img {
	vertical-align:			0px;
}
#mediasearch input,
#mediasearch select {
	background-color:		#FFFFFF;
	border:					1px solid #a59893;
	color:					#72635b;
	padding:				0px;
}