/* $Id: pnews.css,v 1.6 2009/11/02 09:49:34 sebastien Exp $ */
/* Styles used by news module */
/*
/* news */
.page5 #title{
	background-image:		url(/img/demo/interieur/h1News.gif);
}
.page5 h1{
	color:					#ec2685;
}
#newssearch{
	margin:					0 0 20px 0;
}
#newssearch h2{
	background:				url(/img/demo/interieur/h2News.gif) no-repeat left top;
	left:					-17px;
	margin-bottom:			0px;
	color:					#FFFFFF;
	font-size:				93%;
	font-weight:			bold;
	line-height:			23px;
	padding-left:			23px;
	padding-right:			5px;
	position:				relative;
	width:					539px;
}
.newsForm{
	background-color:		#e6dfdd;
	border-left:			1px solid #847773;
	border-right:			1px solid #847773;
	border-bottom:			1px solid #847773;
	padding:				5px 0 11px 0;
	width:					537px;
}
.formKeywords, .formCat{
	float:					left;
}
.formKeywords{
	padding:				0 8px 0 12px;
}
.formCat{
	background:				url(/img/demo/interieur/formCat.gif) no-repeat left 4px;
	padding:				0 10px 0 10px;
}
#keyword{
	height:					18px;
	width:					200px;
	background-color:		#FFFFFF;
}
#cat{
	height:					20px;
	width:					200px;
}
#newssearch #submitSearch{
	background:				url(/img/demo/interieur/submitSearch.gif) no-repeat left top;
	border:					0px;
	color:					#FFFFFF;
	cursor:					pointer;
	height:					18px;
	margin:					14px 0 0 0px;
	padding:				0px;
	width:					21px;
}
#searchresult{
	height:					1%;
}
#searchresult #maxResults{
	background-color:		#e6dfdd;
	border-top:				1px solid #60524b;
	border-bottom:			1px solid #60524b;
	padding:				5px;
	margin-bottom:			25px;
}
.newsTitle{
	background:				url(/img/demo/interieur/newsTitle.jpg) repeat-x left bottom;
	height:					1%;
}
.newsTitle h2{
	background:				url(/img/demo/interieur/h2Puce.gif) no-repeat 15px 4px;
	color:					#60524b;
	font-size:				93%;
	font-weight:			bold;
	float:					left;
	left:					0px;
	line-height:			auto;
	padding:				0px 0 0 24px;
	position:				static;
	margin:					0px;
	width:					auto;
}
#content .newsTitle h2 a{
	color:					#60524b;
	font-size:				93%;
	font-weight:			bold;
}
#content .newsTitle h2 a:hover{
	color:					#7f746f;
}
.newsTitle span{
	border-left:			1px dotted #e92394;
	color:					#e92394;
	font-size:				85%;
	float:					right;
	padding:				0 10px 0 5px;
	margin:					5px 0 0 0;
}
.newsContent {
	padding:				15px 17px 20px 22px;
	height:					1%;
}
#searchresult .newsContent {
	margin:					0 0 20px 0;
	background-color:		#dcd6d5;
}
#pages{
	text-align:				center;
}
#content #pages a{
	color:					#a89b96;
}
#pages img {
	vertical-align:			0px;
}
#newssearch input,
#newssearch select {
	background-color:	#FFFFFF;
	border:				1px solid #a59893;
	color:				#72635b;
	padding:			0px;
}
#loadingSearch {
	display:			none;
	float:				right;
	margin:				0 5px 0 5px;
}
.blocLienBottom{
	background:			#63554f url(/img/demo/interieur/blocLienBottom.gif) no-repeat right;
	clear:				left;
	cursor:				pointer;
	display:			block;
	float:				left;
	left:				45px;
	line-height:		11px;
	padding:			0 20px 2px 3px;
	position:			relative;
	top:				-3px;
}
a.blocLien, a.blocLien:hover, a.blocLien:visited, a.blocLien:active, a.blocLien:link{
	color:				#FFFFFF;
}
.lastNews{
	background:				url(/img/demo/accueil/newsBottom.gif) no-repeat 9px bottom;
	padding-bottom:			25px;
}
.newsTop{
	background:				url(/img/demo/accueil/newsTop.gif) no-repeat left top;
	line-height:			23px;
	padding:				0 20px 0 34px;
	width:					328px;
}
.newsTop h3{
	color:					#FFFFFF;
	font-size:				93%;
	font-weight:			bold;
	float:					left;
	margin:					0px;
}
.newsTop h3 a{
	color:					#FFFFFF;
	font-weight:			bold;
}
.newsTop h3 a:hover{
	color:					#f0c2d9;
}
.newsTop span{
	color:					#f59ac8;
	font-size:				85%;
	float:					right;
}
.lastNews .newsContent{
	background-color:		#f2eeec;
	margin:					0  13px 0 9px;
	padding:				20px 10px 0px 22px;
}
.newsBottom{
	text-align:				right;
}
.newsAll{
	color:					#f02788;
	font-size:				77%;
	margin-right:			10px;
	padding:				0 0 0 6px;
	text-transform:			uppercase;
}
.newsAll:hover{
	background:				url(/img/demo/accueil/newsAllPuce.gif) no-repeat left 4px;
	color:					#a81258;
}
.newsRSS{
	vertical-align:			middle;
}
