#header{
	background:				url(/img/demo/accueil/header.jpg) no-repeat left top;
	height:					264px;
}
#menuLeft{
	background:				#75655e url(/img/demo/accueil/backgroundMenuLeft.gif) repeat-x left top;
	margin:					0 0 0 107px;
	padding:				0 0 30px 0;
	-moz-border-radius:		0 0 30px 0;
	-webkit-border-radius:	0 0 0 30px;
	border-radius: 			0 0 0 30px;
}
#content{
	background:				url(/img/demo/accueil/backgroundContent.gif) no-repeat left top;
	min-height:				305px;
	padding:				0 45px 0 24px;
	width:					613px;
}
#firstCol{
	float:					left;
	width:					210px;
}
#secondCol{
	float:					right;
	width:					382px;
}
/* rangées */
h1{
	position:				absolute;
	text-indent:			-5000px;
	width:					1%;
}
h2{
	background:				url(/img/demo/common/backgroundTitle.png) no-repeat right bottom;
	color:					#6fae03;
	font-size:				138.5%;
	font-weight:			bold;
	padding-bottom:			8px;
}
#firstCol>h2 {
	font-family:			'MicroFLF Regular';
	color:					#6FAE03;
	font-size:				22px;
	margin-top:				0px;
}