html{
	background:				url(/img/demo/common/backgroundBody.gif) repeat left top;
	color:					#362C26;
}
@font-face {
	font-family:			'MicroFLF Regular';
	src:					url('/font/MicroFLF.eot');
	src:					local('MicroFLF Regular'), 
							local('MicroFLF'), 
							url('/font/MicroFLF.woff') format('woff'), 
							url('/font/MicroFLF.svg#MicroFLF') format('svg'), 
							url('/font/MicroFLF.ttf') format('truetype');
}
#content h1 {
	font-family:			'MicroFLF Regular';
	color:					#6FAE03;
	font-size:				26px;
}
div#content.page5 h1 {
	color:					#EC2685;
}
#main{
	background:				#a59893 url(/img/demo/common/backgroundMain.gif) repeat-x left top;
	padding-bottom:			30px;
}
#container{
	margin:					0px auto;
	width:					970px;
}
#menuLeft{
	float:					left;
	width:					171px;
}
#menuLeft ul{
	list-style:				none;
	margin:					0px;
	padding:				0px;
}
#menuLeft ul li {
	list-style: 			none;
}
#menuLeft ul.CMS_lvl2{
	background:				url(/img/demo/common/separatorMenuLeft.gif) no-repeat left top;
	margin:					0 15px 0 12px;
	min-height:				305px;
	padding-top:			2px;
}
#menuLeft li.CMS_lvl2{
	background:				url(/img/demo/common/separatorMenuLeft.gif) no-repeat left bottom;
	padding-bottom:			2px;
}
#menuLeft .CMS_lvl2 li.CMS_open,
#menuLeft .CMS_lvl2 li.CMS_current{
	background-color:		#61534c;
}
#menuLeft a{
	color:					#FFFFFF;
	display:				block;
}
#menuLeft a.CMS_lvl2{
	background:				url(/img/demo/common/puceMenuLeftLvl2.gif) no-repeat 6px 9px;
	font-weight:			bold;
	padding:				7px 0 5px 28px;
	text-transform:			uppercase;
	font-size:				93%;
}
#menuLeft a.CMS_lvl2:hover{
	background-color:		#61534c;
}
#menuLeft ul.CMS_lvl3{
	padding:				0 0 0 26px;
}
#menuLeft a.CMS_lvl3{
	background:				url(/img/demo/common/puceMenuLeftLvl3.gif) no-repeat 0 4px;
	padding:				0 0 0 12px;
}
#menuLeft a.CMS_lvl3:hover,
#menuLeft .CMS_lvl3 .CMS_current a.CMS_lvl3{
	background:				url(/img/demo/common/puceMenuLeftLvl3Hover.gif) no-repeat 0 4px;
	color:					#b9e740;
}
#menuLeft ul.CMS_lvl4{
	display:				none;
}
#content{
	float:					left;
}
#footer{
	background:				url(/img/demo/common/backgroundFooter.gif) repeat-x left top;
	height:					30px;
	width:					100%;
}
#menuBottom{
	margin:					0px auto;
	padding:				0 128px 0 0;
	width:					842px;
}
#menuBottom ul{
	float:					right;
	list-style:				none;
	margin:					3px 0 0 0;
	padding:				0px 16px 0 20px;
	background:				url(/img/demo/common/menuBottom.gif) repeat-x left top;
	-moz-border-radius:		0 0 30px 30px;
	-webkit-border-radius:	0 0 30px 30px;
	border-radius: 			0 0 30px 30px;
}
#menuBottom ul li{
	list-style:				none;
}
#menuBottom li{
	float:					left;
}
#menuBottom a{
	background:				url(/img/demo/common/puceMenuBottom.gif) no-repeat 2px 5px;
	color:					#FFFFFF;
	line-height:			19px;
	padding:				0 6px 0 10px;
}
#menuBottom a:hover{
	background:				url(/img/demo/common/puceMenuBottomHover.gif) no-repeat 3px 5px;
	color:					#ffa03e;
}
.imgRight{
	float:					right;
	margin:					0 0 5px 10px;
}
.imgLeft{
	float:					left;
	margin:					0 10px 5px 0;
}
.shadow{
	-moz-box-shadow:		3px 3px 6px #888;
	-webkit-box-shadow:		3px 3px 6px #888;
	box-shadow:				3px 3px 6px #888;
	margin-bottom:			10px;
	background-color:		#FFFFFF;
	padding:				2px;
}
.spacer{
	clear:					both;
}
.center {
	margin:				0px auto 0 auto;
}
.atm-google-map{
	width:				100%;
	height:				400px;
	border:				1px solid black;
}
p {
	font-size:				93%;
}
img{
	vertical-align:			top;
}
a, a:link{
	text-decoration:		none;
	color:					#981A57;
}
a:hover {
	color:					#EB2685;
}
a:visited,
a:active {
	color:					#FD78B8;
}
ul, ol {
	margin-left:			0px;
	padding-left:			40px;
}
ul li {
	list-style-image:		url(/img/demo/common/puce.gif);
}