#container{
	background:				url(/img/demo/interieur/backgroundContainer.gif) repeat-y 107px top;
}
#header{
	background:				url(/img/demo/interieur/header.jpg) no-repeat left top;
	height:					185px;
}
#lienAccueil{
	display:				block;
	float:					left;
	height:					120px;
	margin:					10px 0 0 70px;
	outline:				none;
	text-indent:			-5000px;
	width:					260px;
}
#backgroundBottomContainer{
	background:				url(/img/demo/interieur/backgroundBottomContainer.gif) no-repeat left bottom;
	margin:					0 42px 0 107px;
	height:					1%;
}
#menuLeft{
	background:				url(/img/demo/interieur/backgroundMenuLeft.gif) repeat-x left top;
}
#menuLeftBottom{
	bottom:					0px;
	height:					30px;
	left:					0px;
	position:				absolute;
	width:					171px;
}
#content{
	background:				url(/img/demo/interieur/backgroundContent.jpg) no-repeat left top;
	min-height:				101px;
	padding:				0 61px 50px 50px;
	text-align:				justify;
	width:					539px;
}
h1{
	background:				url(/img/demo/common/backgroundTitle.png) no-repeat right bottom;
	color:					#6fae03;
	display:				inline;
	font-size:				138.5%;
	font-weight:			bold;
	margin:					0px;
	padding:				0 15px 8px 0;
}
h2{
	background:				url(/img/demo/interieur/h2.gif) no-repeat 0 4px;
	color:					#6FAE03;
	font-size:				100%;
	font-weight:			bold;
	padding-right:			5px;
	left:					-10px;
	padding-left:			9px;
	position:				relative;
	width:					536px;
}
h3{
	background:				url(/img/demo/interieur/h3.gif) no-repeat left 3px;
	color:					#473933;
	font-size:				93%;
	font-weight:			bold;
	padding-left:			6px;
}
#breadcrumbs, #content #breadcrumbs a{
	color:					#6fae03;
}
#breadcrumbs{
	background:				url(/img/demo/interieur/breadcrumbs.gif) no-repeat left top;
	left:					-28px;
	padding:				0 0 0 15px;
	position:				relative;
}
#content #breadcrumbs a:hover{
	font-weight:			bold;
}
#title{
	background:				url(/img/demo/interieur/h1.gif) no-repeat left 18px;
	padding:				6px 0 12px 20px;
}
#content #top{
	background:			url(/img/demo/interieur/top.gif) no-repeat left top;
	color:				#75665e;
	float:				right;
	padding:			3px 0 0 15px;
}
#content #top:hover{
	color:				#50433d;
}
#content .blocLien, #content .blocLien:hover{
	color:				#FFFFFF;
}
.text {
	line-height:		1.3em;
}
.blocLienTop{
	background-color:	#70ae03;
	cursor:				pointer;
	display:			block;
	float:				left;
	font-size:			93%;
	font-weight:		bold;
	line-height:		22px;
	padding:			0 3px;
}
.blocLienBottom{
	background:			#63554f url(/img/demo/interieur/blocLienBottom.gif) no-repeat right;
	clear:				left;
	cursor:				pointer;
	display:			block;
	float:				left;
	left:				45px;
	line-height:		11px;
	padding:			0 20px 2px 3px;
	position:			relative;
	top:				-3px;
}
.treeRight {
	border:				1px dotted #EB2685;
	position:			relative;
	right:				-40px;
	margin-left:		-30px;
	max-width:			200px;
	z-index:			2;
}
.treeRight ul {
	padding-left:		10px;
	margin:				0px;
}
.treeRight ul li {
	list-style:			none;
}
a.CMS_current {
	font-weight:		bold;
	cursor:				default;
}
#content a.CMS_current:hover {
	color:				#EB2685;
}
code {
	background-color:	yellow;
}
blockquote {
	background-color:	orange;
}
cite {
	background-color:	red;
}
