body {
	margin:				0;
	padding:			0;
	background-color:	white;
}
#header, #footer, #menuLeft, #breadcrumbs, #top, #newssearch, #mediasearch, .newsBottom, .atm-debug, .pages {
	display:			none;
}
#container, #content, #firstCol, #secondCol, #backgroundBottomContainer, .newsTop, .newsContent {
	width:				auto;
	margin:				0;
	padding:			0;
}
#secondCol {
	float:				left;
}
.mediaContent {
	display:			block !important;
}
/*for Gecko navigators*/
.text a:link:after, .text a:visited:after {
	content: 				" (" attr(href) ") ";
	font-size: 			90%;
}
